@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500&family=Poppins:wght@300;500&family=Raleway:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  scroll-behavior: smooth;
}
.body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 strong {
  color: #232323;
}
p {
  font-size: 1rem; /* 1 rem = 16px*/
  line-height: 1.9rem;
}

p,
span,
label,
input,
li,
textarea {
  color: gray;
}
a {
  text-decoration: none;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
  /* background-color: red; */
}
@media screen and(max-width:1200px) {
  .main-container {
    width: 90%;
  }
}

/* Logo and Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.logo {
  display: flex;
  justify-content: center;
  font-weight: 1000;
  font-size: 32px;
}
/* Titles */
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}
.pre-title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: gray;
  position: relative;
}
.logo a {
  color: rgb(13, 107, 183);
}
.nav ul li {
  display: flex;
}
.nav ul li a {
  color: skyblue;
}

/* Burger */
.burger div {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}
.burger {
  display: none;
  z-index: 99;
  top: 33px;
  right: 33px;
  position: fixed;
}

/* Hero Section */
#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

/* .hero-right img:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
} */
.hero-name span {
  color: steelblue;
}
.hero-right img {
  width: 90%;
}
.hero-right {
  display: flex;
  justify-content: center;
}
.card a {
  display: inline-block;
  color: azure;
  width: auto;
  padding: 15px;
  background-color: rgb(5, 72, 117);
  border-radius: 10px;
  transition: 0.3s;
}

.card a:hover {
  transform: scale(1.1);
  color: rgba(125, 222, 225, 0.986);
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

#services {
  padding: 6rem 0;
  background-color: #fbfbfb;
  display: flex;
  padding: 6rem 0;
}
.services .pre-title {
  margin: 0 auto;
  text-align: center;
}
.services-title {
  text-align: center;
}
.service {
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 2rem;
  background: whitesmoke;
  transition: 0.3s;
}
.service:hover {
  transform: scale(1.04);
  cursor: pointer;
}
.service h4 {
  margin: 1.5rem 0;
  /* font-weight: 500; */
  font-size: 1.05rem;
}
.service-icon {
  background-color: rgba(7, 77, 139, 0.137);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}
.portofolio {
  font-size: 1.05rem;
  overflow: hidden;
  border: 1px solid #f1f1f1;
}

/* Portofolio  */
#portofolios {
  padding: 6rem 0;
}
.portofolio {
  border-radius: 0.7rem;
}
.portofolio-cover {
  height: 250px;
}
.portofolio-cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.portofolio-info {
  padding: 2rem 1.5rem;
}
.portofolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.portofolio h4 {
  font-size: 1.25rem;
}
.portofolio-tags {
  display: flex;
  margin: 1rem 0;
  gap: 1rem;
}
.portofolio-tags .ci {
  transition: 0.2s;
}
.portofolio-tags .ci:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}
.portofolio-tags div {
  border: 1px solid #f1f1f1;
  padding: 0.4rem 1rem;
  color: #c6afaf;
}
/* Skills Education */
#skills {
  padding: 6rem 0;
  background-color: #fbfbfb;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 4rem;
}
.education {
  display: flex;
  gap: 2rem;
}
.education .line {
  padding: 0 0.7rem;
}
.education .line div {
  width: 2px;
  height: 100%;
  background-color: #f1f1f1;
  position: relative;
}
.education-info p {
  margin: 0.6rem 0rem 1.4rem;
}
.education-years {
  margin-bottom: 3rem;
}
.education .line div:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #f1f1f1;
  border-radius: 50%;
  position: absolute;
  left: -5px;
}
.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}
.skills-right ul {
  line-height: 2rem;

  padding: 0 1rem;
}
/* Contact Section */
#contact {
  padding: 6rem 0;
}
.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}
.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Roboto", sans-serif;
  background-color: #fbfbfb;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  resize: none;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9d9fa1;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #7d7d7d;
}
.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: #7374f1;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn-submit:hover {
  background-color: #5d51e8;
}
.contact-item-icon {
  background-color: #f5f3fe;
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
}
.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}
.contact-item-icon svg {
  fill: #7374f1;
}
.contact-item-detail h4 {
  margin-bottom: 0.6rem;
}
/* Footer */
footer {
  padding: 4rem 0;
  background-color: #fbfbfb;
  text-align: center;
}
.footer-icons {
  margin-bottom: 1rem;
}
.footer-icons a {
  margin: 0 0.5rem;
}
.footer-icons svg{
  fill: #3e3f40;
}
.footer-icons a:hover svg{
  fill: #000;
}